# Ignore Nanoc output files.
/output
/tmp
crash.log

# Emacs trash
\#*
.\#*

#Notepad backup files
*~

# Images
*.png
*.PNG
*.gif
*.GIF
*.jpg
*.JPG

# Hidden files/folders
.*

# This file
!/.gitignore
