#!/usr/bin/env ruby

compile '/assets/less/application/' do
  filter :less
  # filter :rainpress
end

compile 'assets/js/application/' do
  filter :concat_js
  # filter :uglify_js
end

compile 'gallery/' do
  #
end

compile 'gallery-flickr/' do
  filter :erb
end

compile 'assets/gallery-supersized/*' do
  #
end

compile 'assets/gallery-supersized-flickr/*' do
  #
end

compile '/send_form_email/' do
  #
end

compile '*' do
  if not item.binary?
    filter :erb
    # filter :typogruby
    layout 'carousel-jumbotron'
  end
end

route 'assets/gallery-supersized/*' do
  item.identifier.chop + '.' + item[:extension]
end

route 'assets/gallery-supersized-flickr/*' do
  item.identifier.chop + '.' + item[:extension]
end

route %r{^/assets/(.*|img|js|less)/$} do
  source_file = File.basename(item.identifier)
  if source_file == "application"
    (item.identifier.chop + '.' + item[:extension]).gsub("less", "css")
  elsif item.binary?
    item.identifier.chop + '.' + item[:extension]
  end
end

route '/' do
  '/index.html'
end

route '*' do
  if item[:extension] == "php"
    item.identifier.chop + '.php'
  else
    item.identifier.chop + '.html'
  end
end

layout '*', :erb
