<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="smoothScroll brand" href="#page-top">Szach &middot; Mat</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="#services" class="smoothScroll">Oferta</a></li>
          <li><a href="#contact" class="smoothScroll">Kontakt</a></li>
          <li><a href="/gallery-flickr.html" target="_blank" class="smoothScroll">Galeria</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>


